# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
.gradle_build
*.hprof



.DS_Store
androidSDK

# Bazel workspace symlinks
bazel-bin
bazel-imtheapp
bazel-out
bazel-testlogs

Infrastructure/.cache
Infrastructure/.build
Infrastructure/core/.build